Repository 4teamwork/opengever.core, pull requests merged in 2019-04, with the labels that each got.

#5496 Extend listing endpoint with `tasks`
  docs/HISTORY.txt
  docs/public/dev-manual/api/listings.rst
  opengever/api/listing.py
  opengever/api/tests/test_listing.py
  opengever/base/contentlisting.py
Labels: api-change

#5504 Extend @navigation endpoint to be more generic
  docs/HISTORY.txt
  docs/public/dev-manual/api/navigation.rst
  opengever/api/navigation.py
  opengever/api/tests/test_navigation.py
Labels: api-change

#5531 Fix creation of scaneingang dossier in the scan-in endpoint.
  docs/HISTORY.txt
  opengever/api/scanin.py
  opengever/api/tests/test_scanin.py
  opengever/core/upgrades/20190403172610_fix_scaneingang_privatedossiers/__init__.py
  opengever/core/upgrades/20190403172610_fix_scaneingang_privatedossiers/upgrade.py
Labels: Backport needed

#5535 Fix root path exclusion performance
  docs/HISTORY.txt
  opengever/api/listing.py
  opengever/base/monkey/patches/__init__.py
  opengever/base/monkey/patches/extendedpathindex.py
  opengever/base/monkey/patches/uuidindex.py
  opengever/tabbedview/catalog_source.py
Labels: Backport needed

#5564 Allow non-member contributors to use the REST API
  README.rst
  docs/HISTORY.txt
  opengever/base/tests/test_role_assignments.py
  opengever/core/profiles/default/rolemap.xml
  opengever/core/upgrades/20190411161653_allow_non_member_contributors_to_use_the_rest_api/__init__.py
  opengever/core/upgrades/20190411161653_allow_non_member_contributors_to_use_the_rest_api/rolemap.xml
  opengever/core/upgrades/20190411161653_allow_non_member_contributors_to_use_the_rest_api/upgrade.py
  opengever/dossier/tests/test_base.py
  opengever/dossier/tests/test_overview.py
  opengever/dossier/tests/test_protect_dossier.py
  opengever/examplecontent/tests/test_hooks.py
  opengever/globalindex/tests/test_query.py
  opengever/globalindex/tests/test_task_sql_syncer.py
  opengever/inbox/tests/test_forwarding.py
  opengever/inbox/tests/test_tabs.py
  opengever/inbox/tests/test_workflow.py
  opengever/latex/tests/test_dossierjournal.py
  opengever/meeting/tests/test_committee_roles.py
  opengever/meeting/tests/test_proposal.py
  opengever/officeconnector/tests/test_api_task_checkout.py
  opengever/ogds/base/tests/test_sources.py
  opengever/repository/tests/test_repositoryfolder_tabs.py
  opengever/tabbedview/tests/test_personaloverview.py
  opengever/tabbedview/tests/test_tasklisting.py
  opengever/task/tests/test_api_support.py
  opengever/task/tests/test_assign.py
  opengever/task/tests/test_forms.py
  opengever/task/tests/test_localroles.py
  opengever/task/tests/test_overview.py
  opengever/task/tests/test_principals.py
  opengever/task/tests/test_revoke_permissions.py
  opengever/task/tests/test_team_tasks.py
  opengever/tasktemplates/tests/test_trigger.py
  opengever/testing/fixtures.py
  opengever/testing/integration_test_case.py
Labels: Backport needed

#5503 Add restapi /@journal endpoint to add journal entries
  docs/HISTORY.txt
  docs/public/dev-manual/api/index.rst
  docs/public/dev-manual/api/journal.rst
  opengever/api/configure.zcml
  opengever/api/journal.py
  opengever/api/tests/test_journal.py
Labels: api-change

#5551 Include filename in the livesearch endpoint results.
  docs/HISTORY.txt
  opengever/api/livesearch.py
  opengever/api/tests/test_livesearch.py
  opengever/base/browser/livesearch.py
  opengever/base/solr.py
Labels: API, api-change

#5583 Extend @listing endpoint with `workspace_folders`-listing.
  docs/HISTORY.txt
  docs/public/dev-manual/api/listings.rst
  opengever/api/listing.py
  opengever/api/tests/test_listing.py
  opengever/testing/fixtures.py
Labels: api-change

#5608 Bump plone.restapi to latest relaese 3.9.0.
  docs/HISTORY.txt
  versions.cfg
Labels: api-change
