Repository 4teamwork/opengever.core, pull requests merged in 2020-05, with the labels that each got.

#6396 Bump docxcompose to 1.1.1 to fix unicode issue.
  docs/HISTORY.txt
  versions.cfg
Labels: Backport needed

#6405 Bump ftw.solr to ensure solr maintenance scripts are run as system user
  docs/HISTORY.txt
  versions.cfg
Labels: Backport needed

#6436 Remove catalog indexes and metadata of "plone.app.discussion".
  opengever/base/tests/test_solr.py
  opengever/core/hooks.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
Labels: catalog-cleanup

#6435 Remove expires metadata and catalog index
  opengever/base/tests/test_solr.py
  opengever/core/hooks.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
Labels: catalog-cleanup

#6440 Remove catalog index "getRawRelatedItems".
  opengever/base/tests/test_solr.py
  opengever/core/hooks.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
Labels: catalog-cleanup

#6437 Remove catalog index "client_id".
  opengever/base/tests/test_solr.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
  opengever/task/config.py
  opengever/task/tests/test_catalog.py
Labels: catalog-cleanup

#6438 Remove effective metadata and catalog index
  opengever/base/tests/test_solr.py
  opengever/core/hooks.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
Labels: catalog-cleanup

#6449 Remove catalog index "in_reply_to".
  opengever/base/tests/test_solr.py
  opengever/core/hooks.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
Labels: catalog-cleanup

#6447 Remove catalog metadata "location".
  opengever/base/tests/test_solr.py
  opengever/core/hooks.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
Labels: catalog-cleanup

#6439 Remove catalog index and metadata "meta_type".
  opengever/base/tests/test_solr.py
  opengever/core/hooks.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
Labels: catalog-cleanup

#6451 Remove date indexes and metadata
  opengever/base/browser/search.py
  opengever/base/tests/test_solr.py
  opengever/core/hooks.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
Labels: catalog-cleanup

#6441 Remove catalog metadata "getRemoteUrl".
  opengever/base/browser/configure.zcml
  opengever/base/browser/navigation.py
  opengever/base/tests/test_navigation.py
  opengever/base/tests/test_solr.py
  opengever/core/hooks.py
  opengever/core/upgrades/20200518084137_cleanup_catalog_indexes_and_metadata/upgrade.py
  opengever/document/tests/test_copy_document.py
  opengever/dossier/tests/test_move_items.py
Labels: catalog-cleanup

#6460 Rename ogds-user endpoint to ogds-users.
  docs/HISTORY.txt
  docs/public/dev-manual/api/docs_changelog.rst
  docs/public/dev-manual/api/listings.rst
  docs/public/dev-manual/api/users.rst
  opengever/api/configure.zcml
  opengever/api/ogdsuser.py
  opengever/api/serializer.py
  opengever/api/tests/test_ogdsuser.py
  opengever/api/tests/test_ogdsuserlisting.py
  opengever/api/tests/test_team.py
Labels: api-change

#6463 Rename @team API endpoint to @teams.
  docs/HISTORY.txt
  docs/public/dev-manual/api/docs_changelog.rst
  docs/public/dev-manual/api/users.rst
  opengever/api/configure.zcml
  opengever/api/serializer.py
  opengever/api/team.py
  opengever/api/tests/test_ogdsuser.py
  opengever/api/tests/test_team.py
  opengever/api/tests/test_teamlisting.py
Labels: api-change
